@use "@material/theme" with (
  $primary: #12771b,
  $secondary: #1e68bd,
  $background: #ffffff,
  $on-primary: #fff,
  $on-secondary: #fff
);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$fontFamily : 'Roboto Slab', serif;

// Colors
$background-dark: #ffffff;
$primary: #12771b;
  $secondary: #1e68bd;
  $background: #ffffff;
  $on-primary: #fff;
  $on-secondary: #fff;
$expense: #FF8384;
$income: #03B6A1;

$partido: #12771b;




