//local
@use "variables";
//modules
@use "@material/ripple";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/top-app-bar";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/styles" as icon-styles;
@use "@material/drawer";
@use "@material/list";
@use "@material/fab";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab-scroller";
@use "@material/tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/tab";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use '@material/select';
@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;
@include fab.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include textfield.core-styles;

body {
    background-color: variables.$background-dark;
    margin: 0;
    font-family: variables.$fontFamily;
    display: flex;
    height: 100vh;
    a {
      text-decoration: none;
      color: white;
    }
}
.mdc-fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  &.menu {
    margin-bottom: 70px;
    z-index: 7;
    &.close {
      .mdc-fab__icon {
        transform: rotate(-45deg);
      }
    }
  }
  &.income {
    margin-bottom: 70px;
    opacity: 0;
    visibility: hidden;
    @include fab.container-color(variables.$income);
    @include fab.ink-color(black);
    z-index: 6;
    transition: opacity .2s, margin-bottom .2s ease-out, visibility .2s;
      -webkit-transition: opacity .2s, margin-bottom .2s ease-out, visibility .2s;
    &.fade-in{
      visibility: visible;
      margin-bottom: 220px;
      opacity: 1; 
    }
  }
  &.expense {
    margin-bottom: 70px;
    opacity: 0;
    visibility: hidden;
    z-index: 6;
    @include fab.container-color(variables.$expense);
    @include fab.ink-color(black);
    transition: opacity .2s, margin-bottom .2s ease-out, visibility .2s;
      -webkit-transition: opacity .2s, margin-bottom .2s ease-out, visibility .2s;
    &.fade-in{
      visibility: visible;
      margin-bottom: 145px;
      opacity: 1;
    }
  }
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
.main-content {
  overflow: auto;
  height: 100%;
}
.app-bar {
  position: absolute;
}
.mdc-top-app-bar {
  z-index: 7;
}
.mdc-drawer__content{
  @include drawer.surface-fill-color(variables.$primary);
  
}
.mdc-drawer {
  border: none;
  .mdc-deprecated-list-item.mdc-list-item--activated {
    @include list.deprecated-item-primary-text-ink-color(variables.$on-primary);
    @include list.deprecated-item-graphic-ink-color(variables.$on-primary)
  }
  .mdc-deprecated-list-item {
    @include list.deprecated-item-primary-text-ink-color(rgba(variables.$on-primary, .7));
    @include list.deprecated-item-graphic-ink-color(rgba(variables.$on-primary, .7))
  }
}
.mdc-tab-bar {
  background-color: variables.$primary;
}
.mdc-tab {
  @include tab.text-label-color(rgba(variables.$on-primary, .7));
  @include tab.icon-color(rgba(variables.$on-primary, .7));
  &--active {
    @include tab.active-text-label-color(variables.$on-primary);
    @include tab.active-icon-color(variables.$on-primary);
  }
}
.mdc-tab-indicator--active > .mdc-tab-indicator__content--underline{
  border-color: variables.$on-primary;
}
.entry {
  display: grid;
  height: 65px;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #1c1e21;
  padding: 5px 15px 5px 0;
  border-radius: 5px;
  transition-duration: 600ms;
  opacity: 0;
  transform: translate(+100%);
  &.slide-in{
    transform: translate(0%);
    opacity: 1;
  }
  .image-placeholder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .circle {
      background-color: rgba(255, 255, 255, 0.24);;
      color: white;
      text-align: center;
      position: relative;
      border-radius: 50%;
      min-width: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
      font-size: 22px;
      &:after {
        content: '';
        padding-top: 100%;
        display:table;
      }
    }
  }
  .right-info {
    text-align: right;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .category {
      border-radius: 15px;
      margin: 0 0 0 auto;
      background-color: rgba(149, 255, 112, 0.55);
      padding: 2px 8px;
    }
    .date{
      &.expense{
        color: variables.$expense;
      }
      &.income{
        color: variables.$income;
      }
    }
  }
  .middle-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .amount{
      font-size: 18px;
      &.expense{
        color: variables.$expense;
        &:before{
          content: '-';
        }
      }
      &.income{
        color: variables.$income;
        &:before{
          content: '+';
        }
      }
    }
    .item-name{
      font-size: 14px;
      color: rgba(227, 228, 219, 0.6) ;
    }
  }
}
section.full-screen {
  display: none;
  &.active{
    display: block;
  }
}
section#Historial .tab-content{
  display: none;
  color: white;
  &.active {
    display: block;
  }
  .content{
    .content-top {
    margin: 30px 15px 0 15px;
    }
    .section-title{
      font-size: 24px;
      margin: 15px 0;
    }
    .history-container{
      display: flex;
      gap: 25px;
      flex-direction: column;
    }
    .content-bottom {
      display: none;
    }
  }
}
section#Gasto,section#Ingreso,section#Ahorros {
  .section-container{
    .form-container{
      display: block;
      .section-title{
        color: white;
      }
      margin: 30px auto 0 auto;
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 30px;
      .mdc-checkbox {
        @include checkbox.container-colors(white, '', variables.$secondary, variables.$secondary, '');
      }
      .mdc-form-field {
        label {color: white;}
      }
      .mdc-button {
        @include button.container-fill-color(variables.$secondary);
      }
    }
    .image-container {
     display: none;
    }
    .balance-container{
      display: flex;
     justify-content: center;
      .balance{
        background-color: #1c1e21;
        padding: 10px 15px;
        position: fixed;
        border-radius: 5px;
        bottom: 0;
        display: inline-flex;
        color: white;
        margin: 20px;
        gap: 60px;
        font-size: 20px;
        .balance-amount {
          text-align: right;
          font-weight: bold;
        }
      }
    }
    .saving-container {
      display: flex;
      gap: 15px;
      margin: 25px;
      flex-direction: column;
    }
  } 
}
section#Ahorros {
  margin-bottom: 100px;
}

section#Inicio {
  .chart{
    background-color: #00796B;
    margin: 40px 15px 0 15px;
    border-radius: 40px 10px 0 0;
    .chart-top {
      height: 60px;
      .container {
        padding-top: 20px;
        width: 40%;
        text-align: right;
        .title {
          font-size: 16px;
          color: white;
        }
        .amount {
          color: white;
          font-size: 26px;
          font-weight: bold;
        }
      }
    }
  }
  .balance{
    background-color: #1c1e21;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    margin: 20px 15px 0 15px;
    font-size: 20px;
    .balance-amount {
      font-size: 26px;
      text-align: right;
      margin-top: 10px;
      font-weight: bold;
    }
  }
  .title-section {
    color: white;
    font-size: 20px;
    margin: 30px 15px 0 15px;
  }
  .summary {
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin: 30px 15px;
    
  }
}
section#Educacion {
  .cards-container {
    gap: 30px;
    .container {
      margin: 30px 15px;
      color: white;
      background-color: #1c1e21;
      img {
        width: 100%;
      }
      .info {
        padding: 15px;
        .title {
          font-size: 26px;
        }
        .description {
          padding-top: 10px;
          color: lightgrey;
        }
      }
    }
  }

}
// Desktop
@media only screen and (min-width: 768px) {
  section#Inicio{
    .section-content {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .content-top{
        width: 40%;
      }
      .content-bottom {
        width: 40%;
      }
      .chart .chart-top {
        .container{
          padding-top: 10px;
          .title {
            font-size: 24px;
          }
          .amount {
            font-size: 30px;
          }
        }
      }
    }
  }
  section#Educacion {
    .cards-container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      .container {
        width: 30%;
        img{
          height: 375px;
        }
      }
    }
  }
  section#Ingreso, section#Gasto, section#Ahorros{
    .section-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .form-container {
        width: 45%;
        #save-income, #save-expense {
          width: 50%;
          align-self: center;
        }
      }
      .image-container {
        width: 45%;
        color: variables.$income;
        justify-content: center;
        align-items: center;
        display: flex;
        span{
          font-size: 400px;
        }
      }
      .saving-container {
        width: 30%;
        color: variables.$income;
        display: flex;
        gap: 25px;
        flex-direction: column;
        margin: 130px 90px;
      }
      .balance {
        width: 48%;
      }
    }
  }
  section#Gasto .section-container .image-container {
    color: variables.$expense;
  }
  section#Historial {
    #income, #expense {
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .content-top{
          width: 40%;
        }
        .content-bottom {
          width: 40%;
          justify-content: center;
          align-items: center;
          display: flex;
          height: 100vh;
          span{
            font-size: 400px;
          }
        }
      }
    }
    #income .content {
      .content-bottom{
        color: variables.$income;
      }
    }
    #expense .content {
      .content-bottom{
        color: variables.$expense;
      }
    }
  }
  section#Historial .section-container 
  .balance-container .balance {
    bottom: auto;
  }
}