//local
@use "variables";
//modules
@use "@material/ripple";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/top-app-bar";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/styles" as icon-styles;
@use "@material/drawer";
@use "@material/list";
@use "@material/fab";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use '@material/select';
@use "@material/checkbox";
@use "@material/form-field";


//Tabs
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/tab-bar";
@use "@material/tab-scroller";
@use "@material/tab-indicator";
@use "@material/tab";

//Tarjeta Partido
@use "@material/card";

@include card.core-styles;

.show {
  display: block;
}

.hide {
  display: none;
}


.mdc-card__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
}

// Estilo del Margen
.mdc-card--outlined {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  margin: 10px;
}

//Sacado del m2
.my-card-content {
  padding: 16px;
}

//Sacado del m2
.my-card {
  height: 350px;
  width: 350px;
}

//El titulo
.demo-card__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.mdc-card-wrapper__text-section:first-child,
.mdc-card__media+.mdc-card-wrapper__text-section {
  padding-top: 16px;
}

.mdc-card-wrapper__text-section {
  padding-left: 16px;
  padding-right: 16px;
}

//Fecha
.demo-card__subhead {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}

//Nuestro fin

@include checkbox.core-styles;
@include form-field.core-styles;
@include fab.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include textfield.core-styles;

body {}

// Desktop
@media only screen and (min-width: 768px) {}